@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: xborder-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: url(../IMAGES/pexels-martinpechy-304664.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 110vh;
}
.wrapper-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
}
.container {
  padding: 0 30px;
}
.hero {
  display: flex;
  gap: 150px;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  left: 80px;
  right: -300px;
  margin: 0;
}
.hero .banner {
  flex: 1;
}
.hero .banner h1,
.hero .banner p {
  max-width: 600px;
}
.hero .banner h1 {
  /* letter-spacing: 2px; */
  /* word-spacing: 5px; */
  font-size: 40px;
  animation: moveLeftRight 1s infinite alternate ease-in-out;
}
@keyframes moveLeftRight {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
.hero .banner p {
  color: #111;
  letter-spacing: 2px;
}
.hero .banner span {
  position: absolute;
  right: -300px;
  top: -200px;
  z-index: -1;
}
.hero .banner:first-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.hero .banner:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.animated-image {
  animation: moveUpDown 1s infinite alternate ease-in-out;
  margin-right: 120px;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
@media (max-width: 1186px) {
  .hero .banner span {
    right: -400px;
  }
  .hero .banner h1 {
    font-size: 32px;
  }
}
@media (max-width: 1085px) {
  .hero .banner span {
    right: -480px;
    top: -315px;
  }
}
@media (max-width: 925px) {
  .hero {
    flex-direction: column;
  }
  @media (max-width: 700px) {
    .hero {
      padding-bottom: 40px;
    }
  }
}
.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  width: 110%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgb(6, 65, 70), transparent);
  z-index: 100;
}
.nav-logo p{
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.nav-menu ul {
  display: flex;
}
.nav-menu ul li{
  list-style-type: none;
}
.nav-menu ul li .link{
  text-decoration: none;
  font-weight: 500;
  color: #ffff;
  padding-bottom: 15px;
  margin: 0 30px;
}
.link:hover, .active {
  border-bottom: 2px solid #ffff;
}
.nav-button .btn {
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
#loginBtn {
  margin-left: 15px;
}
.btn.white-btn {
  background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover {
  background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn {
  display: none;
}
.form-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 450px;
  overflow: hidden;
  z-index: 2;
}
.register-container {
  width: 480px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
};
.top span {
  color: #fff;
  font-size: small;
  /* padding: px 0; */
  display: flex;
  justify-content: center;
}
.top span a {
  font-weight: 500;
  color: #fff;
  margin-left: 5px;
}
header {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
}
.two-forms {
  display: flex;
  gap: 8px;
}
.input-field {
  font-size: 15px;
  /* background: rgba(255, 255, 255, 0.2); */
  color: #fff;
  height: 50px;
  width: 70%;
  padding: 0 10px 0 45px;
  border-radius: 30px;
  outline: none;
  border: none;
  transition: .2s ease;
  background: rgba(6, 65, 70, 0.25);

}
.input-field:hover, .input-field:focus {
  background: rgba(45, 55, 73, 0.25);
}
::-webkit-input-placeholder {
  color: black;
}
.input-box i{
  position: relative;
  top: -35px;
  left: 17px;
  color: #fff;
}
#email, #password {
  width: 85%;
  border-radius: 30px;
  margin-top: 5px;
  /* gap: 10px; */
}
.submit {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: .3s ease-in-out;
}   
.submit:hover {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 5px 7px 1px rgba(255, 255, 255, 0.2);
}
.two-col {
  display: flex;
  justify-content: space-between;
  font-size: small;
  color: #fff;
  margin-top: 10px;
}
.two-col .one {
  display: flex;
  gap: 5px
}
.two label a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.two label a:hover {
  text-decoration: underline;
}
.hero {
  display: flex;
  gap: 50px;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}
.container {
  padding: 0 50px;
}
.biography {
  display: flex;
  gap: 50px;
  padding-top: 40px;
  padding-bottom: 60px;
}
.biography .banner:first-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.biography .banner:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.biography .banner h3 {
  font-weight: 700;
  letter-spacing: 3px;
}
.biography .banner p:first-child {
  font-size: 24px;
  letter-spacing: 2px;
}
@media (max-width: 925px) {
  .biography {
    flex-direction: column-reverse;
  }
}
.container-box {
  max-width: 800px;
  margin: 0 auto;
  /* background: #fff; */
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header p {
  font-size: 1.2em;
  color: #555;
  font-weight: 600;
  animation: moveUpDown 1s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}

.contact-info, .social-media, .email {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  color: rgba(255, 255, 255);
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

ul li {
  font-size: 1.1em;
  margin-bottom: 10px;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.email p a {
  font-size: 1.2em;
  background-color: #d1cbcb;  
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}

.email p a:hover {
  background-color: #0056b3;
}
.contact-and-form {
  display: flex;
  gap: 50px;
}

.contact-details {
  flex: 10;
}

.contact-info, .social-media, .email {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  color: #007BFF;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

ul li {
  font-size: 1.1em;
  margin-bottom: 10px;
}
.form-component h2 {
  color: gray;
  letter-spacing: 4px;
  margin-bottom: 30px;
}
.form-component h4 {
  color: gray;
  font-weight: 700;
  margin-bottom: 20px;
}
.form-component p {
  max-width: 750px;
  color: gray;
  margin-bottom: 20px;
}
.form-component form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-component form div {
  display: flex;
  gap: 30px;
}
.form-component form input,
.form-component form select,
.form-component form textarea {
  flex: 1;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 30px;
  border-radius: 15px;
  background: rgba(6, 65, 70, 0.25);
  border: none;
}
.form-component button {
  padding: 7px 25px;
  color: #fff;
  font-weight: 700;
  width: fit-content;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  /* margin-bottom: 30px; */
  background: ;
}
.form-component .wrapper {
  display: flex;
  gap: 50px;
}
.form-component .wrapper .banner {
  flex: 1;
}
.form-component .wrapper .banner:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-component .wrapper .banner:last-child img {
  max-width: 450px;
}
